@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #e833f6;
  --blue: #65c4fa;
}

body {
  color: #1a1a1a;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 252, 255, 1) 100%
  );
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}
